name: Flask CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # TODO: Add your workflow steps here
      # Hint: You'll need to:
      # 1. Checkout code
      # 2. Setup Python
      # 3. Install dependencies
      # 4. Run pytest
      
  notify:
    runs-on: ubuntu-latest
    if: always()
    needs: [test]
    steps:
      # TODO: Add Discord notification steps here
      # Hint: Use a Discord webhook action or curl
      #steps:

      - name: Discord notification
        uses: actions/checkout@v2
      - uses: fateyan/action-discord-notifier@v1
        with:
          message-title: New Commits Pushed
          webhook: "https://discord.com/api/webhooks/1441330277279469578/DsysO-Ce_53G5q8Nw8-PBZi9M5P4Hd9SHdcfDa8qEKrGCmqwVZQDPN8j8y8V3WYfaQl0"